.sb-ud-50
    .panel.panel-rounded
        .panel-head.color--magenta
            .panel-title
                h4 Советы 
                    span.title-count &nbsp;100

        .panel-body
            table.table.stripped
                tr.columns-name
                    th.t-a-c №
                    th.big-cell Название
                    th Дата добавления

                tr
                    td.t-a-c 1
                    td
                        a(href="admin_advice.html") "Как продать больше"
                    td 24.05.2015

                tr
                    td.t-a-c 2
                    td
                        a(href="admin_advice.html") "Как продать больше"
                    td 24.05.2015

                tr
                    td.t-a-c 3
                    td
                        a(href="admin_advice.html") "Как продать больше"
                    td 24.05.2015


            a(href="admin_advices.html").panel-link К списку советов
