.sb-ud-50
    .panel.panel-rounded
        .panel-head.color--magenta
            .panel-title
                h4 Бренды по товарам

        .panel-body
            table.table.stripped
                tr
                    th.t-a-c №
                    th.big-cell Название бренда

                tr
                    td.t-a-c 1
                    td
                        a(href="admin_brand.html") Lelo

                tr
                    td.t-a-c 2
                    td
                        a(href="admin_brand.html") Djaga-Djaga
                
                tr
                    td.t-a-c 3
                    td
                        a(href="admin_brand.html") MyStim


            a(href='admin_brands.html').panel-link К списку брендов
