.sb-ud-50
    .panel.panel-rounded
        .panel-head.color--magenta
            .panel-title
                h4 Энциклопедия брендов

        .panel-body
            table.table.stripped
                tr
                    th.t-a-c №
                    th.big-cell Название бренда

                tr
                    td.t-a-c 1
                    td
                        a(href="admin_brands_enc_edit.html") Lelo

                tr
                    td.t-a-c 2
                    td
                        a(href="admin_brands_enc_edit.html") Djaga-Djaga
                
                tr
                    td.t-a-c 3
                    td
                        a(href="admin_brands_enc_edit.html") MyStim


            a(href='admin_brands_enc_list.html').panel-link К списку энциклопедии брендов
