.sb-ud-50
    .panel.panel-rounded
        .panel-head.color--magenta
            .panel-title
                h4 Курсы 
                    span.title-count &nbsp;4

        .panel-body
            table.table.stripped
                tr
                    th.t-a-c №
                    th.big-cell Название
                    th.t-a-c Количество уроков

                tr
                    td.t-a-c 1
                    td
                        a(href='admin_course.html') Слово профессионала
                    td.t-a-c 2

                tr
                    td.t-a-c 2
                    td
                        a(href='admin_course.html') Слово профессионала
                    td.t-a-c 3

                tr
                    td.t-a-c 3
                    td
                        a(href='admin_course.html') Слово профессионала
                    td.t-a-c 4


            a(href='admin_courses.html').panel-link К списку курсов
