.sb-ud-50
    .panel.panel-rounded
        .panel-head.color--magenta
            .panel-title
                h4 Помощь

        .panel-body
            table.table.stripped
                tr
                    th.t-a-c №
                    th.big-cell Название страницы

                tr
                    td.t-a-c 1
                    td
                        a(href="admin_help_edit.html") Вопрос-ответ

                tr
                    td.t-a-c 2
                    td
                        a(href="admin_help_edit.html") Помощь юриста
                
                tr
                    td.t-a-c 3
                    td
                        a(href="admin_help_edit.html") Контакты
                    
                tr
                    td.t-a-c 4
                    td
                        a(href="admin_help_edit.html") Тренинги


            a(href='admin_help_list.html').panel-link К списку страниц помощи
