.sb-ud-50
    .panel.panel-rounded
        .panel-head.color--magenta
            .panel-title
                h4 Новости
                    span.title-count &nbsp;200

        .panel-body
            table.table.stripped
                tr
                    th.t-a-c №
                    th.big-cell Название
                    th Дата

                tr
                    td.t-a-c 1
                    td
                        a(href="admin_news_edit.html") Новость 1
                    td 20.05.2015

                tr
                    td.t-a-c 2
                    td
                        a(href="admin_news_edit.html") Новость 2
                    td 24.05.2015

                tr
                    td.t-a-c 3
                    td
                        a(href="admin_news_edit.html") Новость 3
                    td 20.05.2015

                tr
                    td.t-a-c 4
                    td
                        a(href="admin_news_edit.html") Новость 4
                    td 24.05.2015


            a(href='admin_news_list.html').panel-link К списку новостей
