.sb-bd-3.cards-row.with-icons
    li.card.card-statistic.card-statistic-orange
        .card-title
            h4.text-title Товаров на витрине
        .card-body
            h1.text-display-2 2560

    li.card.card-statistic.card-statistic-blue
        .card-title
            h4.text-title Нет в наличии
        .card-body
            h1.text-display-2 150

    li.card.card-statistic.card-statistic-purple
        .card-title
            h4.text-title Клиенты
        .card-body
            h1.text-display-2 124
