head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1')

	link(href='../css/application.css', rel='stylesheet')
	link(href='../css/admin.css', rel='stylesheet')
	link(href='../vendor/css/material-design-iconic-font.min.css', rel='stylesheet')
	link(href='http://fonts.googleapis.com/css?family=Roboto:400,700,300&subset=latin,cyrillic', rel='stylesheet', type='text/css')
		
	script(src="https://cdn.ckeditor.com/4.5.2/full/ckeditor.js")

	block title
		title Default title
