.item 
	a.item-link(href="admin_index.html") Главная
.item 
	a.item-link(href="admin_news_list.html") Новости
.item 
	a.item-link(href="admin_brands.html") Бренды
	//- ul.item-list
	//- 	li.item-list-item
	//- 		a.item-link(href="admin_products.html") Каталог
	//- 	li.item-list-item
	//- 		a.item-link(href="admin_categories.html") Категории
	//- 	li.item-list-item
	//- 		a.item-link(href="admin_characteristics_list.html") Характеристики
	//- 	li.item-list-item
	//- 		a.item-link(href="admin_characteristics_classes_list.html") Классы
	//- 	li.item-list-item
	//- 		a.item-link(href="admin_brands.html") Производители
	//- 	li.item-list-item
	//- 		a.item-link(href="admin_connections_list.html") Связи
.item
	a.item-link(href="admin_brands_enc_list.html") Энциклопедия брендов
.item
	a.item-link(href="admin_courses.html") Курсы
.item
	a.item-link(href="admin_advices.html") Советы
.item
	a.item-link(href="admin_help_list.html") Помощь
