.sb-ud-100
    form.form-horizontal
        .panel.panel-rounded
            .panel-head.underline
                .panel-title
                    h4.text-title Редактирование новости: "Как увеличить прибыль"

            .panel-body
                
                .units-row
                    .sb-ud-20.label-container
                        span.label Название
                    .sb-ud-80
                        input(type='text', placeholder='Название', name='name', value="Как увеличить прибыль").large
                
                .units-row
                    .sb-ud-20.label-container
                        span.label Фотография основная
                    .photo-wr.sb-ud-20
                        img(src="../img/globo.jpg")
                        .photo-ctrl
                            a.btn.btn-red.small.photo-delete
                                i.zmdi.zmdi-hc-2x.zmdi-close
                    .sb-ud-100
                        #upload-wr
                                .upload-text#uploadFile Выберите файл
                                .upload-btn-wr.btn.btn-blue.outline
                                    span Upload
                                    input(type="file", id='uploadButton', class='upload-input')

                .units-row
                    .sb-ud-20.label-container
                        span.label Подпись
                    .sb-ud-80
                        input(type='text', placeholder='Название', name='name', value="Lelo")
                            
                .units-row
                    .sb-ud-20.label-container
                        span.label Подпись
                    .sb-ud-80
                        textarea#ckeditor
            
            .panel-ctrl.outlined
                .right-ctrl.btn-group
                    a.btn.btn-light(href="admin_news_list.html") Назад к новостям
                    button.btn.btn-blue(type='submin') Сохранить
