.left-menu {
    position: fixed;
    width: 90px;
    height: 100vh;
    margin: 0;
    padding: 0;
    border-right: 1px solid $color-gray-light;
    background-color: #FFF;

    font-size: 2em;
    font-weight: bold;
    line-height: 2;
    text-align: center;

    h1 {
        background: $color-magenta;
        color: $color-orange;
    }

    .icon {
        color: $color-brown;
        cursor: pointer;
    }
}

.top-menu {
    position: relative;
    margin-left: 90px;
    background: $color-white;
    box-shadow: 1px 0 3px rgba(0, 0, 0, .15);

    .item {
        display: inline-block;
        // padding: 20px 45px;
        color: $color-brown;
        // font-weight: bold;
        text-transform: uppercase;
        position: relative;
        &-link{
            padding: 20px 45px;
            display: block;
        }
        &:hover{
            background-color: #eee;
            .item-list{
                display: block;
            }
        }
        &.active{
            border-bottom: 3px $color-orange solid;
        }
        .item-list{
            position: absolute;
            background-color: #fff;
            display: none;
            z-index: 999;
            left: 0;
            top: 100%;
            box-shadow: 0px 0 10px rgba(0, 0, 0, .15);
            &-item{
                border-bottom: 1px #eee solid;

                &:hover{
                    background-color: #eee;
                }
            }
        }
    }
}
