.sb-ud-100
    .panel.panel-rounded
        .panel-head
            .panel-caption
                .text-body 
                    a(href="./admin_index.html") Главная 
                    | / Энциклопедия брендов
