extends ./layouts/admin/layout

block title
    title Brand enc
    
block content
    .units-row
        include ./parts/admin/shared/breadcrumbs
        
    .units-row
        include ./parts/admin/shared/search
    
    .units-row
        include ./parts/admin/brands_enc/list
